/* Estilos para la barra de navegación */

.ml-auto {
  display: flex;

}

.navbar {
    margin-bottom: 20px;
  }
  
  .nav-link {
    margin-right: 15px;
  }
  
  .mr-sm-2{
    margin-left: 60px;
    margin-right: 20px;
  }

